.items-per-page {
    display: flex;
    justify-content: center; /* Aligns to the right */
    margin-top: 5px;
  
  }
  .items-per-page select{
    width: auto;
  }
  .items-per-page label {
    margin-right: 10px;
  }
  .pagination {
    display: flex !important;
    justify-content: center !important;
    margin-top: 30px !important;
  }
  
  .pagination-button {
    padding: 2px 2px !important;
    margin: 0 5px !important;
    border: 1px solid #ddd !important;
    background-color: #007bff !important;
    color: white !important;
    font-size: 1rem !important;
    border-radius: 10px !important;
    width: 30px;
    cursor: pointer !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
  }
  
  .pagination-button:hover {
    background-color: #0056b3 !important;
    color: #fff !important;
  }
  .pagination-button:hover:not(.disabled) {
    background-color: #0056b3;
  }
  .disabled {
    background-color: #d3d3d3 !important;
    cursor: not-allowed !important;
    padding: 2px 2px !important;
    margin: 0 5px !important;
    border: 1px solid #ddd !important;
    color: #333 !important;
    font-size: 1rem !important;
    border-radius: 10px !important;
    width: 30px;
    transition: background-color 0.3s ease, color 0.3s ease !important;
  }
  
  .pagination-button.active {
    background-color: #232f3e !important;
    color: #fff !important;
    border-color: #232f3e !important;
  
  }  